body {
    background-color: #29728f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: #779696;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 1vh 1vh #0b0b0b;
}
form *{
    min-height: 5vh;
    min-width: 75vw;
    font-size: 2vh;
    border: 0.5vh solid rgb(73, 80, 79);
    /* border-radius: 1vh; */
    margin-bottom: 1vh;
}
h1, h2 {
    font-size: 4vh;
    text-align: center;
    color: #F0F0F0;
}
.submit_button {
    background-color: #f0faf6;
    align-self: center;
    font-size: 3vh;
}
input:hover {
    background-color: #bebebe93;
}
nav {
    background-color: #660030;
    border-bottom: 2vh solid #aa8686;   
}
.warn {
    font-size: 2vh;
    color: rgb(230, 50, 50);
}
.panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: #779696;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 1vh 1vh #0b0b0b;
    max-width: 90vw;
}
.popup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: #46695f;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 1vh 1vh #412727;
    max-width: 90vw;
    z-index: 1;
    color: white;
}
button {
    position: relative;
    color: #070720;
    border: 0.5vh solid rgb(73, 80, 79);
    margin-bottom: 1vh;
    min-height: 5vh;
    min-width: 75vw;
    font-size: 2vh;
    /* border-radius: 1vh; */
}
button a  {
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
}
.content {
    background-color: #375e5e;
    position: absolute;
    left: 5vw;
    right: 7vw;
    top: 5vh;
    bottom: 5vh;
    border-radius: 3vh;
    border: 2vh solid rgb(194, 212, 210);
    box-shadow: 2vh 2vh #2c2a2a;
}
#intro {
    border: 2vh solid rgb(194, 212, 210);
    box-shadow: 2vh 2vh #2c2a2a;
}
#fromtop {
    position: relative;
    top: 0;
}