body {
    background-color: #0b0b60;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: #779696;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 1vh 1vh #0b0b0b;
}
form * {
    min-height: 5vh;
    min-width: 75vw;
    font-size: 2vh;
    border: 0.5vh solid rgb(73, 80, 79);
    /* border-radius: 1vh; */
    margin-bottom: 1vh;
}
h1, h2 {
    font-size: 4vh;
    text-align: center;
    color: #F0F0F0;
}
.submit_button {
    background-color: #f0faf6;
    align-self: center;
    font-size: 3vh;
}
input:hover {
    background-color: #bebebe93;
}
.top_bar {
    background-color: #070720;
    border-bottom: 0.5vh solid #0a3a3a;
}